.Body {
  text-align: center;
}

.ErrorPage {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.m-t-16{
  margin-top: 16px;
}

.m-b-16{
  margin-bottom: 16px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16{
  padding-right: 16px;
}

.p-t-16{
  padding-top: 16px;
}

.p-b-16{
  padding-bottom: 16px;
}